---
layout: about
title: About
permalink: /about/
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
            <img class="img-responsive" src="{{ "/assets/img/surf.png" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <h4>Surf description.</h4>
            <p>Surf provides an open source multi-platform general graphical simulator environment for FMUs. The whole simulator is defined through a XML file. The XML file configures the GUI and points to the required files: models, inputs, figures and documentation files. All the information is gathered and compiled in a single executable. Surf supports Windows and Linux platforms. Mac platforms is planned to be supported in the future.</p>
        </div>
    </div><! --/row -->
</div><! --/container -->

<div class="container mtb">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <h4>Open Source.</h4>
            <p>Surf is open source and it is distributed under the GNU General Public License v3.0. For further details please check the following link. 
            <br>
            <p align="center">
            <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" class="btn btn-theme"><i widh="50" class="fa fa-file-text" aria-hidden="true"></i> License</a>
            </p>
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4">
            <img  class="img-responsive" src="{{ "/assets/img/GPL3.png" | prepend: site.baseurl }}" alt="">
        </div>        
    </div><! --/row -->
</div><! --/container -->
